.form__title {
  margin: 0 64px 54px 36px;
}

.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__input_type_error {
  color: red;
}

.form__input-text {
  margin-bottom: 30px;
  width: 83%;
  padding: 9px;
  border: none;
  color: black;
  border-bottom: 1px solid #000000;
}
