.popup {
  color: #000000;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.popup_opened {
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.popup__content {
  width: 430px;
  border-radius: 10px;
  background-color: white;
}

.popup__content-full {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5%;
}

.popup__body-image {
  max-width: 75vw;
  max-height: 75vh;
  border-radius: 10px;
}

.popup__overlay {
  background-color: #000000;
  position: absolute;
  opacity: 0.89;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

.popup__button {
  width: 83%;
  height: 50px;
  margin: 19px 36px 36px;
  background-color: #000000;
  color: white;
  border: none;
  transition: opacity 0.3s ease;
}

.popup__close-button {
  position: relative;
  left: 440px;
  top: -30px;
  max-height: 40px;
  max-width: 40px;
  transition: opacity 0.3s ease;
}

.popup__body-text {
  color: grey;
}

.popup__close-button_full {
  position: absolute;
  left: 100%;
  top: -50px;
}

.popup__button_inactive {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  opacity: 0.15;
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.popup__button:hover:valid {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 530px) {
  .popup__close-button {
    left: 90%;
    top: -40px;
  }

  .popup__content {
    width: 88%;
  }
}
